<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://logowik.com/content/uploads/images/angular9826.logowik.com.webp"
    alt=""
    height="200px"
    srcset="">
  </div>
    <div class="big-card__title">
      <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__descripition">
      <p>
        <a href="">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam distinctio cumque quas ut, neque, eaque assumenda error facere sapiente repellat, excepturi ipsum saepe suscipit optio inventore? Ut, quasi! Nesciunt, officia!
        </a>
      </p>
    </div>
</div>
