<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png"
    alt=""
    height="210px"
    srcset="">
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>

  </div>
  <div class="big-card__descripition">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam distinctio cumque quas ut, neque, eaque assumenda error facere sapiente repellat, excepturi ipsum saepe suscipit optio inventore? Ut, quasi! Nesciunt, officia!</p>
  </div>
</div>
